<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <link rel="stylesheet" href="./css/regist.css">
    <script type="text/javascript" src="./js/regist.js"></script>
  <title>Trade-Regist</title>


</head>
<body>
    <div class="container" id="header">
      <div id="logo">
        <a href="index.html">
          <img src="./img/logo.jpg" alt="logo">
        </a>
      </div>

      <div id="menubar" >
        <ul>
          <li><a href="/main" style="color:#C7C7C7"> HOME </a></li>
          <li><a href="/product"> ESHOP </a></li>
          <li><a href="/regist" > Trade-Regist </a></li>
          <li><a href="about.html"> ABOUT </a></li>
          <li><a href="/notice"> NOTICE </a></li>
          <li><a href="/login"> LOG IN </a></li>
          <li><a href="/promise"> <span class="glyphicon glyphicon-user"></span></a></li>
        </ul>
      </div>

    </div>

    <form action="/regist/create" method="POST" enctype="multipart/form-data">
    <div class="container form-group">

      <div class="text-left" style="padding:30px 0px 30px 0px">
        <h2>Trade-Regist</h2>


        

   


        <div class="row" id="regist-img" style="padding:30px 0px 30px 0px; border-top:3px solid black; border-bottom:0.5px solid #C7C7C7;">
          <div class="col-sm-3">
            <h3>Image</h3>
          </div>
          <div class="col-sm-9">
            <div class="upload-box">
              <div id="drop-file" class="drag-file">
                <img id="post-image" src="https://img.icons8.com/pastel-glyph/2x/image-file.png" alt="파일 아이콘" class="image">
                <p id="message" class="message">Drag files to upload</p>
              </div>

              <br>
			  <input id="imagefile" name="imagefile" accept="image/*" type="file" onchange="setThumbnail(event);">

       
  

            </div>

          </div>
        </div>

        <div class="row" style="padding:30px 0px 30px 0px;border-bottom:0.5px solid #C7C7C7;">
          <div class="col-sm-3">
            <h3>Product Name</h3>
          </div>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="regist-productname" placeholder="Input Product Name" name="productName" style="height:50px; font-size:20px;" autocomplete="off">

          </div>
        </div>

     

        

        <div class="row text-center" id="regist-cate" style="padding:30px 0px 30px 0px; border-bottom:0.5px solid #C7C7C7;">
          <div class="col-sm-3 text-left">
            <h3>Categories</h3>
          </div>
          <div class="col-sm-3">
            <div class="row">
              <div class="col-sm-6">
               
                  <select name="categoryName">
                  <option>For Homme</option>
                  <option>For Femme</option>
                 <option>Eau de Toilete</option>
                  <option>Eau de Cologne</option>
                </select>
             
              </div>

            
            </div>

          </div>
        </div>

        <div class="row" style="padding:30px 0px 30px 0px;border-bottom:0.5px solid #C7C7C7;">
          <div class="col-sm-3">
            <h3>Brand Name</h3>
          </div>
          <div class="col-sm-6">
            <div class="col-sm-6">

             
              <select name="brandName">
                <optgroup label="For Homme">
              <li class="list-group-item" id="cate1-1" onclick="showCate1(this)" ><option>Bvlgari</option></li>
              <li class="list-group-item" id="cate1-2" onclick="showCate1(this)"></li><option>Jo Malone</option></li>
              <li class="list-group-item" id="cate1-3" onclick="showCate1(this)"><option>Calvin Klein</option</li>
                </optgroup>
           
                <optgroup label="For Femme">
              <li class="list-group-item" id="cate2-1" onclick="showCate2(this)"><option>Chanel</option></li>
              <li class="list-group-item" id="cate2-2" onclick="showCate2(this)"><option>Christian Dior</option></li>
              <li class="list-group-item" id="cate2-3" onclick="showCate2(this)"><option>Burberry</option></li>
              <li class="list-group-item" id="cate2-4" onclick="showCate2(this)"><option>Versace</option></li>
                 </optgroup>
           
                 <optgroup label="Eau de Toilete">
              <li class="list-group-item" id="cate3-1" onclick="showCate3(this)"><option>Cartier</option></li>
              <li class="list-group-item" id="cate3-2" onclick="showCate3(this)"><option>Montblanc</option></li>
              <li class="list-group-item" id="cate3-3" onclick="showCate3(this)"><option>YvesSaintLaurent</option></li>
              <li class="list-group-item" id="cate3-4" onclick="showCate3(this)"><option>Ralph Lauren</option></li>
                 </optgroup>

                 <optgroup label="Eau de Cologne">
              <li class="list-group-item" id="cate4-1" onclick="showCate4(this)"><option>Bottega Veneta</option></li>
              <li class="list-group-item" id="cate4-2" onclick="showCate4(this)"><option>Louis Vuitton</option></li>
              <li class="list-group-item" id="cate4-3" onclick="showCate4(this)"><option>Hermes</option></li>
              <li class="list-group-item" id="cate4-4" onclick="showCate4(this)"><option>Salvatore Ferragamo</option></li>
                 </optgroup>
            </select>
         
          </div>
          </div>
        </div>

        <div class="row" style="padding:30px 0px 30px 0px;border-bottom:0.5px solid #C7C7C7;">
            <div class="col-sm-3">
              <h3>Price</h3>
            </div>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="regist-price" placeholder="Input only number" name="price" style="height:50px; font-size:20px;" autocomplete="off">
  
            </div>
          </div>

          <div class="row" style="padding:30px 0px 30px 0px;border-bottom:0.5px solid #C7C7C7;">
            <div class="col-sm-3">
              <h3>Volume</h3>
            </div>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="regist-volume" placeholder="Input volume (ex: 50ml)" name="volume" style="height:50px; font-size:20px;" autocomplete="off">
  
            </div>
          </div>

        

        <div class="row" style="padding:30px 0px 30px 0px;border-bottom:0.5px solid #C7C7C7;">
          <div class="col-sm-3">
            <h3>Description</h3>

          </div>
          <div class="col-sm-9">
              <textarea rows="6" style="height:200px; font-size:20px;" class="form-control" id="regist-description" placeholder="Input Product Detail" name="description" autocomplete="off"></textarea>
          </div>
        </div>

     



        <div class="row" style="padding:30px 0px 30px 0px">
            <div class="col-sm-12 text-right">
                <button class="btn btn-danger btn-lg" id="btn3">submit</button>
            </div>
          </div>

      </div>

    </div>
  </form>

    <div id="footer">
      <div id="footerL">
        <p>© 2022  <a href="">IN GOLD WE TRUST PARIS</a></p>
        <p><a href="">NEWS</a></p>
        <p><a href="">LEGALS</a></p>
        <p><a href="">SHIPPING & RETURNS</a></p>
        <a href=""><img src="./img/insta.jpg" alt="instagram" width="12px" height="12px"></a>
        <a href=""><img src="./img/facebook.jpg" alt="facebook" width="12px" height="12px"></a>
      </div>

      <div id=footerR>
        <input type="text" placeholder="ENTER EMAIL">
        <input type="button" value="JOIN">
      </div>

    </div>

</body>
</html>